.cabecalho{
    background-color: rgb(204, 255, 240);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.quem{
    width: 40px;
    margin: 0 auto;
    text-align: center;
}
.img-texto {
    display: flex;
}
.img-texto p{
    text-align: justify;
    padding: 50px ;
    font-size: 20px;
    font-family: 'Gluten', cursive;
}
.card-pers:hover h2{
    font-size: 23px;
    text-align: center;
    
 }
.card-pers{

    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 233, 240);
    padding: 5px;
    margin: 35px;
    border-radius: 30px;
    margin: 100px;
}  
.card-pers h2{
    
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}
@media screen and (max-width: 768px) {
   
    .titulo_nav{
        width: auto;
    }
    .titulo_nav{
        text-align:center;
    }
    .video{
        width: auto;
    }

}

body {
    background-color: rgba(255, 242, 242, 0.041);
    font-family: 'Gluten', cursive;
    display: inline-table;
 
}
